.pointer {
    cursor: pointer;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #2E5BFF;
}

.bg-green {
    background-color: #2DB744;
}

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.blue-color {
    color: #2E5BFF;
}

.success-color {
    color: #2DB744;
}

.failure-color {
    color: #E84A50;
}

.font-st-none {
    text-decoration: none;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fs-28 {
    font-size: 28px;
}

.fs-34 {
    font-size: 34px;
}

.fs-48 {
    font-size: 48px;
}

.float-l {
    float: left;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.float-r {
    float: right;
}

.float-cl {
    clear: both;
}

.align-it-center {
    align-items: center;
}

.align-font-center {
    text-align: center;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-18 {
    width: 18%;
}

.w-23 {
    width: 23.5%;
}

.w-27 {
    width: 27%;
}

.w-32 {
    width: 32%;
}

.w-43 {
    width: 43%;
}

.w-48 {
    width: 48%;
}

.w-49 {
    width: 49%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-66 {
    width: 66%;
}

.w-71 {
    width: 71%;
}

.w-80 {
    width: 80%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

.h-60p {
    height: 60px;
}

.h-300p {
    height: 300px;
}

.h-400p {
    height: 400px;
}

.h-100 {
    height: 100%;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.mg-l-5 {
    margin-left: 5%;
}

.mg-l-10 {
    margin-left: 10%;
}

.mg-l-25 {
    margin-left: 25%;
}

.mg-l-5p {
    margin-left: 5px;
}

.mg-l-10p {
    margin-left: 10px;
}

.mg-l-20p {
    margin-left: 20px;
}

.mg-l-250p {
    margin-left: 250px;
}

.mg-t-5 {
    margin-top: 5%;
}

.mg-t-10 {
    margin-top: 10%;
}

.mg-t-20 {
    margin-top: 20%;
}

.mg-t-5p {
    margin-top: 5px;
}

.mg-t-10p {
    margin-top: 10px;
}

.mg-t-15p {
    margin-top: 15px;
}

.mg-t-20p {
    margin-top: 20px;
}

.mg-t-40p {
    margin-top: 40px;
}

.mg-t-270p {
    margin-top: 270px;
}

.mg-r-5 {
    margin-right: 5%;
}

.mg-r-10p {
    margin-right: 10px;
}

.mg-r-15p {
    margin-right: 15px;
}

.mg-b-20p {
    margin-bottom: 20px;
}

.dp-block {
    display: block;
}

.dp-inblock {
    display: inline;
}

.dp-flex {
    display: flex;
}

.dp-flex-c {
    display: flex;
    flex-direction: column;
}

.dp-flex-r {
    display: flex;
    flex-direction: row;
}

.dp-flex-r-rev {
    display: flex;
    flex-direction: row-reverse;
}

.dp-flex-sp-bw {
    display: flex;
    justify-content: space-between;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.circle-16 {
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.circle-34 {
    border-radius: 50%;
    height: 34px;
    width: 34px;
}

.circle-48 {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.circle-120 {
    border-radius: 50%;
    height: 120px;
    width: 120px;  
}

.no-border {
    border-collapse: collapse;
}